<?xml version="1.0" encoding="UTF-8"?>
<!--
    logback 配置
     scan 自动扫描配置文件变化
     scanPeriod  扫描频率, 默认位1分钟
     http://logback.qos.ch/manual/configuration.html#autoScan
     By default, the configuration file will be scanned for changes once every minute.
     You can specify a different scanning period by setting the scanPeriod attribute of the <configuration> element.
     Values can be specified in units of milliseconds, seconds, minutes or hours.
 -->
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <contextName>admin-api</contextName>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!--
    日志输出格式
           %clr 日志颜色
           %level 日志级别
           %logger 所在类
           %msg 日志内容
           %d 日期
           %X param 自定义参数 MDC里设置的
   -->
    <property name="console-pattern" value="%d{YYYY-MM-dd HH:mm:ss.SSS} [%clr(%-5level)] --- [%thread{18} : %X{traceId}] %logger{36}-%line : %msg %n"/>
    <property name="file-pattern" value="%d{YYYY-MM-dd HH:mm:ss.SSS} [%-5level] --- [%thread{18} : %X{traceId}] %logger{36}-%line : %msg %n"/>
    <property name="loggingPath" value="logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console-pattern}</pattern>
        </encoder>
    </appender>

    <!--
        RollingPolicy
        http://logback.qos.ch/manual/appenders.html
    -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>${loggingPath}/debug.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggingPath}/debug/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 最多保留60天, 最大1G -->
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${file-pattern}</pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${loggingPath}/info.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggingPath}/info/info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 最多保留60天, 最大1G -->
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${file-pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${loggingPath}/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggingPath}/error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 最多保留60天, 最大1G -->
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${file-pattern}</pattern>
        </encoder>
    </appender>

    <!-- 框架代码全部用info -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG"/>
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="springfox" level="INFO"/>
    <logger name="org.quartz" level="INFO"/>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="DEBUG_FILE" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>
</configuration>